* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: tomato;
}

h1 {
  background-color: rgb(108, 108, 64);
  color: aqua;
  height: 5rem;
  line-height: 5rem;
}

.a {
  height: 200px;
  width: 200px;
}
img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
}
.moves {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.a:hover {
  opacity: 0.5;
  cursor: pointer;
}
.score-board {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 3rem;
}

#msg {
  display: inline;
  background-color: black;
  color: blue;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

.message {
  margin-top: 5rem;
}
